<%= turbo_frame_tag dom_id(comment) do %>
<% if comment.user  %>
<div class="mb-2">
    <div class="flex items-center mb-2">
        <section style="background-image:url(<% if comment.user.profileImage.persisted? %> <%= url_for(comment.user.profileImage) %> <% end %>)" class="w-6 h-6 rounded-2xl bg-gray-800 mr-2 cursor-pointer bg-center bg-cover bg-norepeat"></section>
        <section>
        <p><%= comment.user.name %></p>
        </section>
    </div>
    <p><%= comment.description %></p>
</div>
<% end %>
<% end %>