<%= form_with model: [post,post.comments.build] do |form| %>
<div class="flex items-center">
    <%= form.text_field :description , placeholder: "Add a comment.." , class:"px-4 py-0 rounded-md flex-1 mr-2 text-md" %> 
    <%= form.submit "add" , class:"px-4 bg-cyan-600 text-white rounded-sm cursor-pointer shadow-md shadow-cyan-100" %>
</div>
<% end %>