    
    <section id="<%= "#{dom_id(task)}_description" %>" class="font-lighter text-md md:text-lg break-all mt-2 rounded-lg p-4 shadow-inner bg-zinc-800 text-white" >
            <%= task.description %>
    </section>