<div class="bg-orange-200 h-40 w-full md:w-72 md:h-64 my-2 rounded-lg flex flex-col justify-between p-4 shadow-xl  shadow-inner md:mr-4 ">
     <div class= "flex justify-between font-medium items-center ">
        <p class="text-xl font-bold "><%= (task.name).titleize %></p>
        <p class="text-sm"><%= (task.time).titleize %></p>
        </div>      

        <div class="flex">
        <a href="/tasks/<%= task.id %>">
         <button class="bg-red-400 text-red-50 font-medium px-4 py-2 rounded-md cursor-pointer ">view</button>
         </a>
        </div> 
</div>