<div>
<%= render "partials/page_header" , header: @task.name %>
</div>
<section style="background-image:url(<%= url_for(@task.taskImage) %>)" class="bg-cover bg-no-repeat bg-center w-100 h-64 md:h-80 mb-6 " >
    </section>
<div class="w-11/12 m-auto ">
    <%# task info  %>
    <div>
    <%= render "task" , task: @task , rating: @rating %>
    </div>
    <% if @participant %>
    <%= render "submissions/submission" , task: @task %>
    <% end %>
</div>

