<section class="bg-white shadow-lg pt-4 flex flex-col  items-center">
    <h2 class="font-medium text-xl">Admin Dashboard</h2>

<section class="flex lg:w-4/12 md:w-6/12  justify-between mt-2   flex-1 ">
 <a href="/"><button  class="p-2">Home</button></a>
         <a href="/admin"> <button class=" px-6 py-2">Task's</button></a>

         <a href="/admin/userIdeas"> <button  class="p-2">User Ideas</button></a>

          <a href="/admin/users"><button  class="p-2">Users</button></a>
    </section>
</section>