<section class="p-3 flex justify-between bg-blue-600 mb-2 rounded-md hover:shadow-md  cursor-pointer duration-300 text-gray-50">
           <p><%=  task.name %></p>
           <a href="/admin/tasks/<%= task.id %>">view</a>
        </section>