<div class="mb-10">
<%= render "home/header" , user: @user %>
</div>

<% if @ideas.count == 0 then %>
    <div class="w-11/12 m-auto h-24 flex justify-center items-center">
    <p class="text-gray-400 h-100 w-100 " >Oops , No Ideas's !! </p>
</div>
<% end %>

<div class="w-11/12 md:w-6/12 m-auto py-8">
<% @ideas.each do |idea| %>
<%= render "ideas/idea" , idea: idea  %>
<%= turbo_frame_tag "#{dom_id(idea)}" do %>
    
<% end %>
<% end %>
</div>



