 <section class="border-b w-100 p-4 flex justify-center items-center  bg-gray-800 ">
 <%= link_to "â†" , root_path , class:"text-white font-semibold text-2xl cursor-pointer" %>
    <h2 class="ml-auto flex-1 flex justify-center w-100 text-lg font-bold text-gray-100"><%= header %></h2>
</section>