<form action="<%= action %>" >
        <input name="search" value="<%= @query %>" type="text" placeholder="search..." aria-label="search" class="border-none rounded-md bg-gray-200 mr-2 shadow-md active:shadow-blue-400" >
        <button type="submit" class="bg-blue-400 px-2 py-1 rounded-md text-white shadow-md shadow-blue-300">search</button>
    </form>