<form action="<%= action %>" >
<div class=" w-100 flex bg-black bg-opacity-80 shadow-lg  rounded-md">
        <input name="search" value="<%= @query %>" type="text" placeholder="search..." aria-label="search" class="w-100 flex-1 border-none outline-none focus:border-none rounded-md hover:outline-none bg-transparent text-white" >
        <button type="submit" class=" px-3 text-blue-300 rounded-tr-md rounded-br-md">search</button>
</div>
    </form>