
<%= form_with(model: [user,user.skills.build], id: "#{dom_id(user)}_skill_form" ) do |form|  %>
<div class="flex flex-1 items-center" data-controller="skill">
   <section>
    <%= form.text_field :name , class:"mr-1 text-sm w-24 rounded-full"   %>
   </section>

    <section  data-action="click->skill#add_skill_form">
    
    <%= form.submit "Add" , class:"bg-gray-900 font-bold text-blue-300 px-4 py-1 hover:bg-gray-700 cursor-pointer rounded-md " %>
    </section>

</div>
<% end %>