<div class="w-100 h-screen m-auto flex flex-col justify-center items-center ">
<div class="w-100 flex mb-6">
<%= render "skills/form" , user: @user %>
</div>
 <%= render "skills" , user: @user  %>
</div>