<a href="/" class="p-2 hover:border-b-orange-400 hover:bg-gray-600 md:hover:bg-transparent   hover:text-orange-400 hover:bg-gray-600 md:hover:bg-transparent w-full text-center transition ease-in ">Home</a>

<% if user %>
    <% if user.isAdmin %>
      <a href="/admin" class="p-2 border-orange-400 hover:bg-gray-600 md:hover:bg-transparent hover:text-orange-400 hover:bg-gray-600 md:hover:bg-transparent min-w-full text-center delay-100 transition ease-in">Admin</a>
      <% end %>
    
<% if !user.isAdmin %>
<a href="<%= tasks_path %>" class="p-2 border-orange-400 hover:bg-gray-600 md:hover:bg-transparent hover:text-orange-400 hover:bg-gray-600 md:hover:bg-transparent min-w-full text-center delay-100 transition ease-in">Tasks</a>


<a href="/rankings" class="p-2 hover:text-orange-400 hover:bg-gray-600 md:hover:bg-transparent w-full text-center transition ease-in">Rankings</a>

<% end %>
    <% end %>


<a href="/profile/<%= session[:user_id].to_i %>" class="p-2 hover:text-orange-400 hover:bg-gray-600 md:hover:bg-transparent w-full text-center transition ease-in">Profile</a>
