<div class="mt-8 px-1 md:w-6/12 sticky-top-10">
    <div class="mb-4 ">
        <%= render "partials/search" , action: "/" %>
    </div>
    
    

  <div id="post_form">
<%= render "posts/form" , post: Post.new  %>
  </div>
    <div id="posts" class=" py-2 flex-col md:w-6/12">
            <%= render @posts %>
    </div>
</div>