<div class="flex mb-4">
    <section class=" w-100 flex items-center flex-1">
        <img src="<% if participate.task.taskImage.persisted? %><%= url_for(participate.task.taskImage)%> <% end %>" , class="w-10 h-10 bg-gray-700 rounded-full" >

        <h3 class="ml-4"><%= participate.task.name %></h3>
        <button class="ml-auto bg-purple-600 px-2 py-1 rounded-md  text-white ">
            status
        </button>
    </section>
</div>